<template>
  <div id="app">
    <div class="willscot-list-slider-slider-area">
      <div class="container">
        <slick
          ref="slickPage"
          :options="slickPageOptions"
          class="willscot-list-slider"
          @init="handleInitSlick"
        >
          <img src="./assets/img/1.jpg" data-toggle="modal" data-target="#popupSlick" data-val="0" />
          <img src="./assets/img/2.jpg" data-toggle="modal" data-target="#popupSlick" data-val="1" />
          <img src="./assets/img/3.jpg" data-toggle="modal" data-target="#popupSlick" data-val="2" />
          <img src="./assets/img/4.jpg" data-toggle="modal" data-target="#popupSlick" data-val="3" />
        </slick>
      </div>
    </div>

    <div
      id="popupSlick"
      class="modal fade"
      tabindex="-1"
      role="dialog"
      aria-labelledby="Popup Slick"
    >
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title">Popup Slick</h4>
          </div>
          <div class="modal-body">
            <div class="willscot-list-slider-modal-slider-area">
              <slick ref="slickModal" :options="slickModalOptions" class="willscot-list-modal-slider">
                <img src="./assets/img/1.jpg" />
                <img src="./assets/img/2.jpg" />
                <img src="./assets/img/3.jpg" />
                <img src="./assets/img/4.jpg" />
              </slick>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Slick from "vue-slick";
import "./assets/styles.css";
import "../node_modules/slick-carousel/slick/slick.css";
export default {
  name: "App",
  components: {
    Slick
  },
  data() {
    return {
      slickPageOptions: {
        slidesToShow: 3,
        slidesToScroll: 1,
        autoplay: false,
        arrows: true,
        infinite: true,
        asNavFor: ".willscot-list-modal-slider",
        dots:true,
        responsive: [
          {
            breakpoint: 991,
            settings: {
              slidesToShow: 3
            }
          },
          {
            breakpoint: 767,
            settings: {
              slidesToShow: 2
            }
          },
          {
            breakpoint: 480,
            settings: {
              slidesToShow: 1
            }
          }
        ]
      },
      slickModalOptions: {
        slidesToShow: 1,
        slidesToScroll: 1,
        infinite: true,
        autoplay: false,
        asNavFor: ".willscot-list-slider"
      }
    };
  },

  methods: {
    handleInitSlick(event, slick) {
      const [slickTrack] = slick.$slideTrack;

      $.each(slickTrack.childNodes, (index, slickSlide) => {
        // .app-carousel__link is an element inside each slide
        const data = $(slickSlide)
          .find(".app-carousel__link")
          .data("attribute-name");

        $(slickSlide).click(event => {
          // Doing something
          const v = event.target.getAttribute("data-val");
          this.beforeModal(v);
        });
      });
    },
    beforeModal(val) {
      // console.log("here");
      this.$refs.slickModal.$el.slick.slickGoTo(val);
    }
  }
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* text-align: center; */
  color: #2c3e50;
  margin-top: 60px;
}
</style>
